.input-dialogue {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid black;
  border-radius: 3px;
  background-color: aliceblue;
}

.dialogue {
  background-color: aliceblue;
}