.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
}

.container>div {
  margin: 6px;
}

.flex-child {
  padding: 0px;
  text-align: center;
}